@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #7736D8;
  overflow: hidden;/*isso impede que a pagina role para baixo*/

}

.cursor-tracker {
  position: fixed;
  top:0;
  z-index:9999;
  left: 0;
  width: 80px;
  height: 100px;
  background-image: url('../imagem/ET.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none; /* Para garantir que o elemento não capture os eventos do mouse */
}

.astronauta{
  display: flex;
  position: absolute;
  top:15rem;
  left: 8rem;  
}
.astronauta img{
  filter: drop-shadow(12px 12px 7px rgb(0,0,0,0.7));
  
}



a{
  color: white;
  text-decoration: none;
  font-family: 'Russo One'; 
}

.coluna {
  position: absolute;
  top: 8rem;
  right: 20rem;
  display: flex;
  flex-direction: column;
}
    
.retangulo {
  width: 35rem;
  height: 13rem;
  background-color: #5929A2;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: -5px 10px 12px 0px rgba(0,0,0,0.55);
}
.retangulo h1 {
  color: #FFE603;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  font-size: 17px;
  margin: 5px;
  padding: 0;
}

.retangulo p{ 
  display: flex;
  font-family: 'Russo One'; 
  color:#ffffff;
  margin: 5px;
  padding: 0;
}

.titulo {
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: 'Russo One'; 
  left: 16rem;
  top: 8rem;
}

header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  opacity: 0.7;
}

.logo2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Russo One';
  background: #8e56e1;
  height: 8vh;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background:#8e56e1;
    flex-direction: column;
    justify-content: space-around;
  }
}